<template>
  <section class="content">
    

      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
              <div class="col-sm-6">
                    <h3 class="box-title">Data Table Tuberkulosis</h3>
              </div>
              <div class="col-sm-6 text-right">
                    <button type="button"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#staticBackdrop">
                        <span class="glyphicon glyphicon-plus"></span> Tambah Data
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span> 
                            </button>
                            <h5 class="modal-title text-center" id="staticBackdropLabel">Form Tambah Data Tuberkulosis</h5> 
                          </div>
                          <div class="modal-body text-left">
                              <div class="form-group">
                                <label>Tahun</label>
                                <select v-model="tahun" class="form-control">
                                  <option>option 1</option>
                                  <option>option 2</option>
                                  <option>option 3</option>
                                  <option>option 4</option>
                                  <option>option 5</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label>Kecamatan</label>
                                <select v-model="kecamatan" class="form-control">
                                  <option>option 1</option>
                                  <option>option 2</option>
                                  <option>option 3</option>
                                  <option>option 4</option>
                                  <option>option 5</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label >Kasus TB</label>
                                <input v-model="kasusTB" type="text" class="form-control"  >
                              </div>
                              <div class="form-group">
                                <label >CNR TB</label>
                                <input v-model="CNR_TB" type="text" class="form-control"  >
                              </div>
                              <div class="form-group">
                                <label >Jumlah Penduduk</label>
                                <input v-model="jumlahpenduduk" type="text" class="form-control"  >
                              </div>
                              <div class="form-group">
                                <label >Target Kasus TB</label>
                                <input v-model="targetkasusTB" type="text" class="form-control"  >
                              </div>
                              <div class="form-group">
                                <label >Angka kematian</label>
                                <input v-model="angkakematian" type="text" class="form-control"  >
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
              </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div id="example1_length" class="dataTables_length">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th aria-label="No: activate to sort column descending" aria-sort="ascending" style="width: 25px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">No</th>
                        <th aria-label="Tahun: activate to sort column ascending" style="width: 207px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting"> Tahun</th>
                        <th aria-label="Kecamatan: activate to sort column ascending" style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Kecamatan</th>
                        <th aria-label="Kasus TB: activate to sort column ascending" style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Kasus TB</th>
                        <th aria-label="CNR TB: activate to sort column ascending" style="width: 207px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting"> CNR TB</th>
                        <th aria-label="Jumlah Penduduk: activate to sort column ascending" style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Jumlah Penduduk</th>
                        <th aria-label="Target Kasus TB: activate to sort column ascending" style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Target Kasus TB</th>
                        <th aria-label="Angka Kematian: activate to sort column ascending" style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Angka Kematian</th>
                        <th aria-label="Aksi: activate to sort column ascending" style="width: 90px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="even" role="row">
                        <td class="sorting_1">Blink</td>
                        <td>Iridium  54.0</td>
                        <td>GNU/Linux</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Firefox 1.0</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Firefox 1.5</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Firefox 2.0</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Camino 1.0</td>
                        <td>OSX.2+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Camino 1.5</td>
                        <td>OSX.3+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Netscape 7.2</td>
                        <td>Win 95+ / Mac OS 8.6-9.2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Netscape Nama 8</td>
                        <td>Win 98SE+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Netscape Navigator 9</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">Gecko</td>
                        <td>Mozilla 1.0</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="1" rowspan="1">No</th>
                        <th colspan="1" rowspan="1">Tahun</th>
                        <th colspan="1" rowspan="1">Kecamatan</th>
                        <th colspan="1" rowspan="1">Kasus TB</th>
                        <th colspan="1" rowspan="1">CNR TB</th>
                        <th colspan="1" rowspan="1">Jumlah Penduduk</th>
                        <th colspan="1" rowspan="1">Target Kasus TB</th>
                        <th colspan="1" rowspan="1">Angka Kematian</th>
                        <th colspan="1" rowspan="1">Aksi</th>
                        
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>

  </section>
</template>

<script>
import $ from 'jquery'
// Require needed datatables modules
require('datatables.net')
require('datatables.net-bs')

export default {
  name: 'DataTB',
  data() {
    return{
      tahun: "",
      kecamatan: "",
      kasusTB: "",
      CNR_TB: "",
      jumlahpenduduk: "",
      targetkasusTB: "",
      angkakematian: "",
    }
  },

  mounted() {
    this.$nextTick(() => {
      $('#example1').DataTable()
    })
  }
}
</script>

<style>
/* Using the bootstrap style, but overriding the font to not draw in
   the Glyphicons Halflings font as an additional requirement for sorting icons.

   An alternative to the solution active below is to use the jquery style
   which uses images, but the color on the images does not match adminlte.

@import url('/static/js/plugins/datatables/jquery.dataTables.min.css');
*/

@import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
  content: '\f0dc';
}

table.dataTable thead .sorting_asc:after {
  content: '\f0dd';
}

table.dataTable thead .sorting_desc:after {
  content: '\f0de';
}
</style>
