<template>
  <ul class="sidebar-menu">
    <li class="header">MENU</li>
    <router-link tag="li" class="pageLink" to="/">
      <a>
        <i class="fa fa-desktop"></i>
        <span class="page">Dashboard</span>
      </a>
    </router-link>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-folder-o"></i>
        <span class="treeview-title">Data Administrasi</span>
        <span class="pull-right-container pull-right">
          <i class="fa fa-angle-left fa-fw"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <router-link tag="li" class="pageLink" to="/tabelkec">
          <a>
            <i class="fa fa-table"></i>
            <span class="page">Kecamatan</span>
          </a>
        </router-link>
        <router-link tag="li" class="pageLink" to="/tahun">
          <a>
            <i class="fa fa-table"></i>
            <span class="page">Daftar Tahun</span>
          </a>
        </router-link>
        <router-link tag="li" class="pageLink" to="/dataTB">
          <a>
            <i class="fa fa-table"></i>
            <span class="page">Data Tuberkulosis</span>
          </a>
        </router-link>
        <router-link tag="li" class="pageLink" to="/faskes">
          <a>
            <i class="fa fa-table"></i>
            <span class="page">Fasilitas Kesehatan</span>
          </a>
        </router-link>
      </ul>
    </li>
    
    <li class="header">HASIL KLUSTER</li>
    <router-link tag="li" class="pageLink" to="/tingkatkerawanan">
      <a>
        <i class="fa fa-tasks"></i>
        <span class="page">Tingkat Kerawanan</span>
      </a>
    </router-link>
       

    <li class="header">INFORMASI</li>
    <router-link tag="li" class="pageLink" to="/infoTB">
      <a>
        <i class="fa fa-book"></i>
        <span class="page">Tentang TB</span>
      </a>
    </router-link>
    

    <li class="header">PAGES</li>
    <router-link tag="li" class="pageLink" to="/login">
      <a>
        <i class="fa fa-circle-o text-yellow"></i>
        <span class="page"> Login</span>
      </a>
    </router-link>
  
  </ul>
</template>
<script>
export default {
  name: 'SidebarMenu'
}
</script>
<style>
/* override default */
.sidebar-menu > li > a {
  padding: 12px 15px 12px 15px;
}

.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
  animation-name: rotate;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.treeview-title {
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}
</style>
